<nav>
    <ul>
        <li>Menu</li>

        <li class="collapsible">
            Add new
            <ul class="submenu">
                <li><a href="{{ url('backend_add', paremeters = {type: 'spell'}) }}">Spell</a></li>
                <li><a href="{{ url('backend_add', paremeters = {type: 'race'}) }}">Race</a></li>
                <li><a href="{{ url('backend_add', paremeters = {type: 'class'}) }}">Class</a></li>
            </ul>
        </li>

        <li class="collapsible">
            Browse
            <ul class="submenu">
                <li><a href="{{ url('backend_browse', paremeters = {type: 'spell'}) }}">Spell</a></li>
                <li><a href="{{ url('backend_browse', paremeters = {type: 'race'}) }}">Race</a></li>
                <li><a href="{{ url('backend_browse', paremeters = {type: 'class'}) }}">Class</a></li>
            </ul>
        </li>
    </ul>
</nav>


<script>
    document.querySelectorAll('.collapsible').forEach(item => {
        item.addEventListener('click', function (e) {
            if (e.target !== this) return;
            this.classList.toggle('open');
        });
    });
</script>
